//@import "fonts";

body {

}
.box {

	&__el1 {
	}

	&__el1--mod1 {
	}

	&__el2 {
	}

	&__el2--mod1 {
	}
}

.dummy {
	color: red;
}


@media (max-width: 768px) {
	.box {
			color: #f00;
			span {
				font-size: 12px;
				
			}
	}
}
	
@media (max-width: 768px) {

}